<div class="footer">
  <div class="elem1">
    <a routerLink="/"><img src="./assets/images/logo2.png" alt=""></a>
    <p>Cursuri de programare de la nivel începător până la nivel avansat, pregătite de experți din industrie și predate săptămânal în locațiile partenere</p>
    <ul class="socialLinks">
      <li><a href="www.facebook.com"><i class="fa-brands fa-facebook-f"></i></a></li>
      <li><a href="www.linkedin.com"><i class="fa-brands fa-linkedin-in"></i></a></li>
      <li><a href="www.youtube.com"><i class="fa-brands fa-youtube"></i></a></li>
    </ul>
  </div>
  <div class="elem2">
    <p>Explore</p>
    <div>
      <ul>
        <li><a href="https://te-fac-programator.ro/about-us"><i class="fa-solid fa-angles-right"></i>  Despre noi</a></li>
        <li><a href="https://te-fac-programator.ro/courses"><i class="fa-solid fa-angles-right"></i>  Cursuri</a></li>
        <li><a href="https://te-fac-programator.ro/events"><i class="fa-solid fa-angles-right"></i>  Evenimente Viitoare</a></li>
        <li><a href="https://te-fac-programator.ro/faq"><i class="fa-solid fa-angles-right"></i>  FAQs</a></li>
      </ul>
    </div>
  </div>
  <div class="elem3">
    <p>Contact</p>
    <div>
      <ul>
        <li><a href="https://www.google.com/maps?q=44.4488277371566,26.10226984399082"><i class="fa-solid fa-location-dot"></i>&emsp; &emsp;&nbsp;&nbsp; Str. Ernest Broșteanu, nr 29, București</a></li>
        <li><a href="tel:0744.544.560"><i class="fa-solid fa-phone"></i>    0744.544.560</a></li>
        <li><a href="mailto:admin@te-fac-programator.ro"><i class="fa-solid fa-envelope"></i>&nbsp; admin@te-fac-programator.ro</a></li>
      </ul>
    </div>
  </div>
</div>

