<div class="featuresContainer">
  <p class="featureTitle">Așadar, Vrei Să Te Faci Programator?</p>
  <p class="featureSubTitle">Îți punem la dispoziție cele mai bune resurse, pregătire specializată, cerințele din
    piața reală pentru a ajunge la potențialul tău maxim și pentru a fi foarte aproape de o carieră de programator.</p>
    <div class="featureColoumns">
      <div class="featureItem">
        <p class="featureIcon"><i class="fa-solid fa-mountain-sun"></i></p>
        <p class="featureIconTitle">Traineri cu experiență</p>
        <p class="featureIconData">Echipă de profesioniști, cu experiență dovedită în industrie și mediul academic.</p>
      </div>
      <div class="featureItem">
        <p class="featureIcon"><i class="fa-brands fa-firefox"></i></p>
        <p class="featureIconTitle">Tehnologii actuale</p>
        <p class="featureIconData">Folosim cele mai noi tehnologii pentru a fi în pas cu trendurile din IT.</p>
      </div>
      <div class="featureItem">
        <p class="featureIcon"><i class="fa-solid fa-gear"></i></p>
        <p class="featureIconTitle">Curriculă dinamică</p>
        <p class="featureIconData">Am pregătit materiale ușor de urmărit, interactive, cu elemente de joc pentru a avea o experiență unică.</p>
      </div>
    </div>
</div>
