<div class="heroContainer">
  <div class="heroItem1">
    <h1>Academia Te Fac Programator</h1>

    <p>Ne angajăm să luăm parte la pregătirea teoretică și practică a
      generațiilor pentru a fi în pas cu progresul tehnologic.
      Ajutăm cursanții să înțeleagă cum funcționează un calculator,
      ce rulează în spatele unui site web, cum a fost făcut Facebook sau Instagram.
      Am dezvoltat pentru tine o platformă de învățare care îmbină elemente de joc și de studiu,
      pentru a-ți face procesul mult mai plăcut</p>
      <label for="quizBtn"></label>
      <button type="button" id="quizBtn" routerLink="/quiz">Quiz &rarr;</button>
  </div>
  <div class="heroItem2">
    <img src="./assets/images/slider-bg1.jpg" alt="Something went wrong">
  </div>
</div>
