<p class="titluLocatii">TFP vine la tine in oras!</p>
<div class="mainContainer">
  <p><img src={{listaImagini[index-1]}} alt="Image not found" width="350px" height="260px"></p>
  <p><img src={{listaImagini[index]}} alt="Image not found" width="350px" height="260px"></p>
  <p><img src={{listaImagini[index+1]}} alt="Image not found" width="350px" height="260px"></p>

</div>
<div class="butoane">
  <button (click)="prev()"><i class="fa-solid fa-chevron-left"></i></button>
  <button (click)="next()"><i class="fa-solid fa-chevron-right"></i></button>

</div>


