<div class="teamContainer">
  <div class="title">
  <p class="featureTitle">Cine sunt trainerii nostri?!</p>
  <p class="featureSubTitle">Cei pe care îi veți avea în fața voastră sunt profesioniști în domeniul dezvoltării de software.</p>
</div>
  <div class="teamContainer2">
    <div class="trainer"><img src="./assets/images/trainer1.jpg" alt="Un trainer" width="350px" height="260px">
      <div class="info">
        <a href="https://www.linkedin.com"><i class="fa-brands fa-linkedin-in"></i></a>&nbsp;
        <a href="http://www.facebook.com"><i class="fa-brands fa-facebook-f"></i></a>
      </div>
      <p>Tipa pozata din dreapta</p>
    </div>
    <div class="trainer"><img src="./assets/images/trainer2.jpg" alt="Un trainer " width="350px" height="260px">
      <div class="info">
        <a href="https://www.linkedin.com"><i class="fa-brands fa-linkedin-in"></i></a>&nbsp;
        <a href="http://www.facebook.com"><i class="fa-brands fa-facebook-f"></i></a>
      </div>
      <p>Baiatul de la biblioteca</p>
    </div>
    <div class="trainer"><img src="./assets/images/trainer3.jpg" alt="Un trainer" width="350px" height="260px">
      <div class="info">
        <a href="https://www.linkedin.com"><i class="fa-brands fa-linkedin-in"></i></a>&nbsp;
        <a href="http://www.facebook.com"><i class="fa-brands fa-facebook-f"></i></a>
      </div>
      <p>Tipa pozata din stanga</p>
    </div>

  </div>
</div>
